<div class="label-container">
  <div class="widget-header">
    <h4 class="form-header" translation="app.label.create.header"></h4>
    <a href="javascript:" *ngIf="label.id > 0" translation="app.global.delete" (click)="deleteLinkClicked()"></a>
  </div>

  <md-input-container class="container-full-width">
    <input mdInput
           [placeholder]="'app.label.name' | translation"
           [(ngModel)]="label.name"
           name="name" />
  </md-input-container>

  <md-input-container class="container-full-width">
    <input mdInput
           [placeholder]="'app.label.text' | translation"
           [(ngModel)]="label.text"
           name="text" />
  </md-input-container>

</div>
