@import "../../../../variables";
@import "../../../../mixins";

.label-container {
  margin-bottom: $app-base-padding;
}

.widget-header {
  display: flex;
  align-items: flex-start;

  a {
    margin-left: $app-base-padding * 0.5;
    margin-top:  $app-base-padding * 0.25;

  }
}
