<form class="form form-compact">
    <h3 class="form-header" translation="app.promo_code.creating"></h3>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.promo_code.name' | translation"
               [(ngModel)]="promoCode.name"
               name="name" />
    </md-input-container>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.promo_code.discount.label' | translation"
               [(ngModel)]="promoCode.discount"
               name="discount" />
        <md-hint>{{ 'app.promo_code.discount.hint' | translation }}</md-hint>
    </md-input-container>

    <div class="is_percents_container">
        <md-checkbox class="example-margin" [(ngModel)]="promoCode.is_percents" name="is_percents"><span translation="app.promo_code.is_percents"></span></md-checkbox>
    </div>

    <div class="date-container">
        <ui-form-date
                [label]="'app.promo_code.expire_at.label' | translation"
                [label-hint]="'app.promo_code.expire_at.hint' | translation"
                (date-changed)="dateChanged($event)"
        ></ui-form-date>
    </div>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.promo_code.expire_after.label' | translation"
               [(ngModel)]="promoCode.expire_after"
               name="expire_after" />
        <md-hint>{{ 'app.promo_code.expire_after.hint' | translation }}</md-hint>
    </md-input-container>

    <div class="has-top-offset select-container shop-select-container">
        <md-select [placeholder]="'app.promo_code.shop' | translation" [(ngModel)]="promoCode.shopId" name="shop_id">
            <md-option *ngFor="let shop of shops" [value]="shop.id">{{ shop.shopName }}</md-option>
        </md-select>
    </div>

    <ui-form-save [spinnerVisible]="spinnerVisible" (save)="saveButtonClicked()"></ui-form-save>

</form>