@import "../../../../variables";
@import "../../../../mixins";

.select-container {
  width: 100%;
  margin-top: $app-base-padding * 1.75;

  &:first-of-type {
    margin-top: $app-base-padding;
  }

  md-select {
    width: 100%;
  }
}