<form class="form form-compact card">

  <h3 class="form-header" translation="app.advertising.editing"></h3>

  <md-input-container class="container-full-width">
    <input mdInput
           [placeholder]="'app.advertising.name' | translation"
           [(ngModel)]="advertising.name"
           name="name" />
  </md-input-container>

  <div class="has-top-offset select-container">
    <md-select [placeholder]="'app.advertising.type' | translation" [(ngModel)]="advertising_type" name="advertising_type" (change)="advertisingTypeChanged($event)">
      <md-option *ngFor="let type of advertising_types" [value]="type.id">{{ type.name }}</md-option>
    </md-select>
  </div>

  <div class="has-top-offset select-container">
    <md-select [placeholder]="'app.advertising.shop' | translation" [(ngModel)]="shop_id" name="shop" (change)="shopChanged($event)">
      <md-option *ngFor="let shop of shops" [value]="shop.id">{{ shop.shopName }}</md-option>
    </md-select>
  </div>

  <div class="has-top-offset select-container" *ngIf="showCategorySelect">
    <md-select [placeholder]="'app.advertising.category' | translation" [(ngModel)]="category_id" name="category" (change)="categoryChanged($event)">
      <md-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</md-option>
    </md-select>
  </div>

  <div class="has-top-offset select-container" *ngIf="showProductSelect">
    <md-select [placeholder]="'app.advertising.product' | translation" [(ngModel)]="product_id" name="product" (change)="productChanged($event)">
      <md-option *ngFor="let product of products" [value]="product.id">{{ product.productName }}</md-option>
    </md-select>
  </div>

  <md-input-container class="container-full-width has-top-offset">
    <input mdInput [placeholder]="'app.advertising.title' | translation" [(ngModel)]="advertising.title" name="advertising_title" />
  </md-input-container>

  <md-input-container class="container-full-width">
    <textarea mdInput [placeholder]="'app.advertising.content' | translation" [(ngModel)]="advertising.content" name="advertising_content"></textarea>
  </md-input-container>

  <ui-form-image [showOnly]="true" [photo]="advertising.image" (photoUploaded)="imageUploaded($event)"></ui-form-image>

  <div>
    <md-checkbox class="example-margin" [(ngModel)]="advertising.isActive" name="isActive"><span translation="app.advertising.is_active"></span></md-checkbox>
  </div>

  <ui-form-save (save)="createAds()" [spinnerVisible]="isSpinnerVisible"></ui-form-save>

</form>