<table class="table card">
  <thead>
  <tr>
    <th width="75" translation="app.product.id">id</th>
    <th translation="app.product.name">name</th>
    <th width="100" translation="app.product.rating">rating</th>
    <th width="120" translation="app.product.label"></th>
    <th width="100" translation="app.product.options">options</th>
    <th width="120" style="text-align: right;"><a [routerLink]="'create'" translation="app.global.create">Create</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td><a [routerLink]="[ product.id, 'information' ]">{{ product.productName }}</a></td>
    <td>{{ product.rating.toFixed(2) }}</td>
    <td>{{ product.label.text || '-' }}</td>
    <td>{{ product.options }}</td>
    <td style="text-align: right;"><a href="javascript:" (click)="deleteProduct(product)" translation="app.global.delete"></a></td>
  </tr>
  <tr *ngIf="products.length < 1">
    <td class="table-td-error" colspan="5" translation="app.product.empty"></td>
  </tr>
  </tbody>
  <tfoot *ngIf="hasProducts">
  <tr>
    <td colspan="5">
      <md-progress-spinner
              *ngIf="isLoading"
              [color]="'primary'"
              [mode]="'indeterminate'"
              [strokeWidth]="'10'">
      </md-progress-spinner>
      <div class="pull-right">
        <button md-button (click)="loadProducts()">{{ 'app.global.load_more' | translation }}</button>
      </div>
    </td>
  </tr>
  </tfoot>
</table>