<ui-header-bar [text]="shop?.shopName"></ui-header-bar>
<div class="paddings">

  <form class="form form-compact">
    <h3 class="form-header">Создание адреса</h3>

    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>

    <ui-form-address
            [address]="address"
            [isHeaderVisible]="false"
            (locationChanged)="locationWasChanged($event)"
            (opensAtTimeChanged)="opensAtTimeWasChanged($event)"
            (closesAtTimeChanged)="closesAtTimeWasChanged($event)">
    </ui-form-address>

    <ui-form-save [spinnerVisible]="spinnerVisible" (save)="createAddress()"></ui-form-save>
  </form>

</div>