<table class="table card">
  <thead>
  <tr>
    <th width="75">id</th>
    <th translation="app.category.name"></th>
    <th class="pull-right" width="200"><a href="javascript:" routerLink="/categories/shared/create" translation="app.global.create"></a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{ category.id }}</td>
    <td>{{ category.name }}</td>
    <td class="pull-right">
      <a href="javascript:" (click)="deleteCategory(category, i)" translation="app.global.delete"></a>
      <a href="javascript:" routerLink="/categories/shared/{{ category.id }}" translation="app.global.edit"></a>
    </td>
  </tr>
  <tr *ngIf="categories.length < 1">
    <td class="table-td-error" colspan="5" translation="app.categories.empty"></td>
  </tr>
  </tbody>
</table>