@import "../../variables";
@import "../../mixins";

$header-background-color: #0288d1;

.header {
  display: flex;
  width: 100%;

  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  height: 48px;
  background-color: $header-background-color;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);

  position: relative;
  z-index: 100;
  color: white;

  @include box-sizing();

  .brand {
    font-size:   28px;
    line-height: 28px;
  }

  .pull-right {
    margin-left: auto;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}