<div class="header">
  <div class="brand" translation="app.global.dashboard">EDA</div>

  <div class="pull-right" *ngIf="isLogoutVisible">
    <a href="javascript:" (click)="logout()" translation="app.global.logout"></a>
  </div>
</div>