@import "../../../variables";
@import "../../../mixins";

.login-form {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
  border-radius: 3px;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  @include box-sizing();

  .form-header, .form-content {
    padding: 15px;

    @include box-sizing();
  }

  .form-header {
    background-color: rgba(0, 0, 0, .05);
    font-size: 16px;
    color: rgba(0, 0, 0, .5);
  }

  .container-full-width {
    width: 100%;
  }
  
  .button-container {
    width: 100%;
    text-align: right;
  }
  
}