<form class="login-form" (submit)="onLoginSubmit()">
    <div class="form-header">
        Login form
    </div>
    <div class="form-content">
        <div class="alert alert-danger" *ngIf="message.length > 0">
            {{ message }}
        </div>
        <md-input-container class="container-full-width">
            <input mdInput placeholder="Phone number" [(ngModel)]="phone" name="phone" />
        </md-input-container>
        <md-input-container class="container-full-width">
            <input mdInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
        </md-input-container>
        <div class="button-container">
            <button md-button>Login</button>
        </div>
    </div>
</form>