@import "../../../../variables";
@import "../../../../mixins";

.element-container {
  margin-top: $app-base-padding;
  margin-bottom: $app-base-padding;

  @include box-sizing();
  @include user-select();
}

.uploaded-image {
  display: flex;

  .image-container {
    max-width: 17%;
    img {
      max-width: 100%;
      border-radius: 3px;
    }
  }

  .image-actions {
    width: 100%;
    margin-left: $app-base-padding;
  }
}
