<div class="element-container">
  <ui-form-image-upload
          *ngIf="!hasPhoto"
          [shopId]="shopId"
          [productId]="productId"
          [showOnly]="showOnly"
          [field]="field"
          (photoUploaded)="photoUploadedEvent($event)"
          (photoDropped)="photoWasDropped($event)"
  ></ui-form-image-upload>
  <div class="uploaded-image" *ngIf="hasPhoto">
    <div class="image-container">
      <img src="{{ getPhotoUrl(photo) }}" />
    </div>
    <div class="image-actions">
      <ui-form-image-upload
              [shopId]="shopId"
              [productId]="productId"
              [showOnly]="showOnly"
              [field]="field"
              (photoUploaded)="photoUploadedEvent($event)"
              (photoDropped)="photoWasDropped($event)"
      ></ui-form-image-upload>
    </div>
  </div>
</div>