@import "../../../variables";
@import "../../../mixins";

$map-height: 350px;

.map-selection-wrapper {
  margin-bottom: $app-base-padding;
}

.map-container {
  width: 100%;

  @include box-sizing();

  agm-map {
    height: $map-height;
  }
}