<div class="map-selection-wrapper">
  <h4 class="form-header">Выбор координат</h4>

  <div class="map-container">
    <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="14">
      <agm-marker
              [latitude]="location.lat"
              [longitude]="location.lng"
              [markerDraggable]="true"
              (dragEnd)="onMarkedDragEnd($event)">
      </agm-marker>
    </agm-map>
  </div>
</div>