<table class="table card">
  <thead>
  <tr>
    <th width="75" translation="app.shop.id">id</th>
    <th translation="app.shop.name">name</th>
    <th width="150" translation="app.shop.delivery.time">delivery time</th>
    <th width="150" translation="app.shop.delivery.price">delivery price</th>
    <th width="100" translation="app.shop.rating">rating</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataSource">
      <td>{{ row.id }}</td>
      <td><a [routerLink]="[ row.id, 'information' ]">{{ row.shopName }}</a></td>
      <td>{{ row.deliveryTime }}</td>
      <td>{{ row.deliveryPrice.amount }}</td>
      <td>{{ row.rating.toFixed(2) }}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!isLoadedAllRecords">
  <tr>
    <td colspan="5">
      <md-progress-spinner
              *ngIf="isLoading"
              [color]="'primary'"
              [mode]="'indeterminate'"
              [strokeWidth]="'10'">
      </md-progress-spinner>
      <div class="pull-right">
        <button md-button (click)="loadShops()"><span translation="app.global.load_more">Load more</span></button>
      </div>
    </td>
  </tr>
  </tfoot>
</table>