<table class="table card">
  <thead>
  <tr>
    <th width="225" translation="app.order.customer"></th>
    <th translation="app.order.delivery.address"></th>
    <th translation="app.order.status.header"></th>
    <th width="125" class="pull-right" translation="app.order.price"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" (click)="showOrder(order)" [ngClass]="{ highlight: order.status !== 'sent' && order.status !== 'received' }">
    <td class="paddings-half"><ui-widget-user [user]="order.user"></ui-widget-user></td>
    <td>{{ order.address.toString() }}</td>
    <td>{{ order.status }}</td>
    <td class="pull-right">{{ order.price.amount }} {{ order.price.currency }}</td>
  </tr>
  </tbody>
</table>