@import "../../../../../variables";
@import "../../../../../mixins";

.table {

  tbody {
    tr {
      cursor: pointer;

      td {
        border: none;
      }

      &:hover {
        td {
          background-color: rgba(0, 0, 0, .05);
        }
      }

      &.highlight {

        &:hover {
          td {
            background-color: darken($app-color-blue, 10%);
          }
        }

        td {
          background-color: $app-color-blue;
          color: white;

          &::ng-deep {
            a {
              color: rgba(white, .8);
              text-decoration: underline;

              &:hover {
                color: white;
              }
            }
          }
        }
      }

    }
  }

}
