<h4 class="form-header">{{ label || 'Price' }}</h4>
<h5 class="form-header-hint" *ngIf="hint !== null">{{ hint || null }}</h5>

<div class="price-container">

  <md-input-container class="container-full-width amount-container">
    <input mdInput
           type="number"
           step="0.01"
           placeholder="{{ 'app.price.amount' | translation }}"
           [ngModel]="price?.amount"
           (ngModelChange)="setPrice($event)"
           [disabled]="disabled"
           name="price__amount" />
  </md-input-container>

  <md-input-container class="container-full-width discount-container">
    <input mdInput
           type="number"
           step="0.01"
           placeholder="{{ 'app.price.discount' | translation }}"
           [ngModel]="price?.discount"
           (ngModelChange)="setDiscount($event)"
           [disabled]="disabled"
           name="price__discount" />
  </md-input-container>

  <div class="container-full-width container-currency">
    <md-select
            placeholder="{{ 'app.price.currency' | translation }}"
            [ngModel]="price?.currency"
            (ngModelChange)="setCurrency($event)"
            [disabled]="disabled"
            name="price__currency"
            class="currency-item">
      <md-option *ngFor="let currency of currencies" [value]="currency.value">
        {{ currency.label }}
      </md-option>
    </md-select>
  </div>

</div>
