@import "../../../../variables";
@import "../../../../mixins";

.form-header-hint {
  position: relative;

  top: -$app-base-padding / 4 * 3;
  margin-bottom: $app-base-padding / 4 * 1;
}

.price-container {
  display: flex;
  align-items: center;

  .currency-item {
    margin-top: 0;
  }

  .amount-container {
    width: 100%;
  }

  .discount-container {
    width: 30%;

    flex-shrink: 0;
    flex-grow: 0;
  }

  .container-currency {
    display: none;
  }

}