@import "../../../../variables";
@import "../../../../mixins";

.tabs {
  & > .tabs-navigation {
    padding-left: $app-base-padding;
    padding-right: $app-base-padding;

    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    display: flex;
    width: 100%;

    @include box-sizing();

    & > .tab-item {
      padding: $app-base-padding + 5px $app-base-padding + 7px;
      display: block;
      text-decoration: none;
      color: rgba(0, 0, 0, .7);

      @include box-sizing();

      &.active {
        color: $app-color-blue;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $app-color-blue;
        }
      }

      &[data-badge] {
        display: flex;
        align-items: center;
        position: relative;
        // 41px - badge max width
        padding-right: $app-base-padding;

        &::after {
          content: attr(data-badge);
          position: absolute;
          display: inline-block;
          font-size: 12px;
          background-color: $app-color-blue;
          padding: 5px 10px;
          top: 50%;
          right:  $app-base-padding;
          color: white;
          border-radius: 15px;
          max-width: 41px;
          overflow: hidden;

          transform: translateY(-50%);

          @include box-sizing();
        }

        & > .badge-size {
          display: inline-block;
          font-size: 12px;
          padding: 5px 10px;
          height: 1px;
          overflow-y: hidden;
          background-color: transparent;
          color: transparent;
          margin-left:  10px;
          margin-right: 0;
        }

      }
    }
  }

  & > .tabs-content {
    padding: $app-base-padding;

    @include box-sizing();
  }
}