@import "../../../../variables";
@import "../../../../mixins";

.list {
  background-color: $app-color-white;
  width: 300px;
  margin-bottom: $app-base-padding;

  @include box-sizing();

  .list-header, .list-item, .list-footer {
    padding: $app-base-padding;

    @include box-sizing();
  }

  .list-header {
    display: flex;
    align-items: center;
    width: 100%;

    div {
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(0, 0, 0, .6);
    }

    a {
      margin-left: auto;
    }
  }

  .list-item {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, .03);
    }
  }

  .list-footer {
    display: flex;

    @include box-sizing();

    .pull-right {
      margin-left: auto;
    }

    md-progress-spinner {
      width: 24px;
      height: 24px;
      margin: 5px 10px 0 0;
    }
  }
}