<div class="list card">
  <div class="list-header grid">
    <div>Users</div>
    <a [routerLink]="['/users', 'create']" translation="app.global.create"></a>
  </div>
  <div class="list-item" *ngFor="let user of users" (click)="editUser(user)"><ui-widget-user [user]="user"></ui-widget-user></div>
  <div class="list-footer" *ngIf="hasMoreUser">
    <md-progress-spinner
      *ngIf="isLoading"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [strokeWidth]="'10'">
    </md-progress-spinner>
    <div class="pull-right">
      <button md-button (click)="loadUsers()"><span translation="app.global.load_more">Load more</span></button>
    </div>
  </div>
</div>
