<ui-header-bar [text]="shop?.shopName"></ui-header-bar>

<div class="paddings">
  <form class="form form-compact">
    <h3 class="form-header">Создание продукта</h3>

    <md-input-container class="container-full-width">
      <input mdInput
             [placeholder]="'app.product.name' | translation"
             [(ngModel)]="product.productName"
             name="productName" />
    </md-input-container>

    <ui-form-price [price]="product.price" *ngIf="product.sizes.length < 1" [label]="'app.product.price.label' | translation"></ui-form-price>

    <md-input-container class="container-full-width">
      <input mdInput
             [placeholder]="'app.product.measure.label' | translation"
             [(ngModel)]="product.measure"
             name="measure" />
      <md-hint align="start"><strong translation="app.product.measure.hint"></strong></md-hint>
    </md-input-container>

    <md-input-container class="container-full-width has-top-offset">
      <input mdInput
             placeholder="Состоит из"
             [(ngModel)]="product.consistOf"
             name="consistOf" />
    </md-input-container>

    <ui-form-image [showOnly]="true" (photoUploaded)="photoWasUploaded($event)"></ui-form-image>

    <ui-form-save (save)="saveProduct()" [spinnerVisible]="saveSpinnerVisible"></ui-form-save>

  </form>
</div>
