@import "../../../variables";
@import "../../../mixins";

$sidebar-active-color: #039be5;
$sidebar-badge-color: rgba(0, 0, 0, .5);

a {
  display: block;
  outline: none;
  color: rgba(0, 0, 0, .54);
  font-weight: bold;
  text-decoration: none;
  padding: 15px 15px 15px 60px;
  line-height: 20px;

  transition: 0.1s color;

  @include box-sizing();
  @include user-select();

  &.active {
    color: $sidebar-active-color;

    &[data-badge] {
      &::after {
        background-color: $sidebar-active-color;
      }
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  &[data-icon], &[data-badge] {
    position: relative;
  }

  &[data-icon] {
    &::before {
      content: attr(data-icon);
      font-size: 24px;
      position: absolute;
      top:  13px;
      left: 20px;
      font-family: 'Material Icons', sans-serif;
      line-height: 20px;
    }
  }

  &[data-badge] {
    &::after {
      content: attr(data-badge);
      display: block;

      position: absolute;
      right: 15px;
      top: 16px;
      font-size: 12px;
      line-height: 12px;

      border-radius: 20px;
      background-color: $sidebar-badge-color;

      padding: 4px 8px 3px;
      color: white;

      @include box-sizing();
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  margin-top:    $app-base-padding;
  margin-bottom: $app-base-padding;

  @include box-sizing();
}
