<div *ngIf="type === 'item'">
  <a (click)="navigateTo()" data-icon="dashboard" [ngClass]="{'active': isActive}" [attr.data-icon]="miIcon" [attr.data-badge]="badgeValue">{{ text }}</a>
</div>
<div *ngIf="type === 'separator'" class="separator"></div>