<table class="table card">
    <thead>
    <tr>
        <th width="75" translation="app.size.id"></th>
        <th width="150" translation="app.size.title"></th>
        <th translation="app.size.options"></th>
        <th width="120" class="pull-right"><a [routerLink]="['create']" translation="app.global.create"></a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let size of product.sizes">
        <td>{{ size.id }}</td>
        <td><a [routerLink]="[ size.id ]">{{ size.title }}</a></td>
        <td>{{ size.optionsList }}</td>
        <td class="pull-right">
            <a href="javascript:" (click)="deleteSize(size)" translation="app.global.delete"></a>
        </td>
    </tr>
    <tr *ngIf="product.sizes.length < 1">
        <td class="table-td-error" colspan="4" translation="app.size.empty"></td>
    </tr>
    </tbody>
</table>