<form class="form form-compact">
    <h3 class="form-header">Создание размера</h3>

    <md-input-container class="container-full-width">
        <input mdInput
               placeholder="Name"
               [(ngModel)]="title"
               name="name" />
    </md-input-container>

    <ui-form-options [options]="options" (selectionChanged)="updateOptionsPrice($event)"></ui-form-options>

    <ui-form-price [price]="price"></ui-form-price>

    <h4 class="form-header">Окончательная цена</h4>

    <h5 class="form-header">{{ totalPrice || 0 }} грн</h5>

    <button md-button (click)="saveSize()">Save</button>

</form>