@import "../../../variables";
@import "../../../mixins";

.tabs {

  & > .tabs-navigation {
    padding-left: $app-base-padding;
    padding-right: $app-base-padding;

    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .1);
    width: 100%;

    @include box-sizing();

    .tabs-navigation-links {
      display: flex;
    }

    .tabs-navigation-header {

      padding-top: $app-base-padding;
      color: rgba(0, 0, 0, .7);

      @include box-sizing();

      .header-primary {
        font-size: 32px;
      }

      .header-secondary {
        font-size: 18px;
        margin-top: 8px;
      }
    }
  }

  & > .tabs-content {
    padding: $app-base-padding;

    @include box-sizing();
  }
}