<div class="tabs">
  <div class="tabs-navigation">
    <div class="tabs-navigation-header" *ngIf="header">
      <div class="header-primary">{{ header }}</div>
      <div class="header-secondary" *ngIf="subHeader">
        <span *ngIf="subHeaderLink === null">{{ subHeader }}</span>
        <a [routerLink]="subHeaderLink" *ngIf="subHeaderLink">{{ subHeader }}</a>
      </div>
    </div>
    <div class="tabs-navigation-links">
      <app-ui-tabs-item
              [index]="itemIndex"
              [schema]="tab"
              *ngFor="let tab of tabs; let itemIndex = index"
      ></app-ui-tabs-item>
    </div>
  </div>
  <div class="tabs-content">
    <ng-content></ng-content>
  </div>
</div>