<h4 class="form-header">
  {{ label }}
  <div class="small">{{ hint }}</div>
</h4>
<div class="date-select-container">
  <div class="date-select-item date-select-year">
    <md-select [placeholder]="'app.promo_code.expire_at.year' | translation" [(ngModel)]="year" name="date_year" (change)="yearChanged($event)">
      <md-option *ngFor="let i of range(currentYear, currentYear+20)" [value]="i">{{ i }}</md-option>
    </md-select>
  </div>
  <div class="date-select-item date-select-month">
    <md-select [placeholder]="'app.promo_code.expire_at.month' | translation" [(ngModel)]="month" name="date_month" (change)="monthChanged($event)">
      <md-option *ngFor="let i of range(1, 12)" [value]="i">{{ months[i-1] }}</md-option>
    </md-select>
  </div>
  <div class="date-select-item date-select-day">
    <md-select [placeholder]="'app.promo_code.expire_at.day' | translation" [(ngModel)]="day" name="date_day" (change)="dayChanged($event)">
      <md-option *ngFor="let i of range(1, maxDayInMonth)" [value]="i">{{ i }}</md-option>
    </md-select>
  </div>
</div>