@import "../../../../variables";
@import "../../../../mixins";

.form-header {
  margin-bottom: $app-base-padding * 1.5;
  margin-top: $app-base-padding;
}

.date-select-container {
  display: flex;
  width: 100%;

  padding-right: $app-base-padding * 2;

  @include box-sizing();

  .date-select-item {
    width: 100%;

    &.date-select-year {
      width: 125px;
      flex-shrink: 1;
      flex-grow: 1;
    }

    &.date-select-day {
      width: 100px;
      flex-shrink: 1;
      flex-grow: 1;
    }

    md-select {
      width: 100%;
    }
  }
}