<ui-header-bar [text]="shop?.shopName"></ui-header-bar>
<div class="paddings">
  <form class="form form-compact">

    <md-input-container class="container-full-width">
      <input mdInput
             placeholder="Название категории"
             [(ngModel)]="category.name"
             name="name" />
    </md-input-container>

    <ui-form-save [spinnerVisible]="categorySaveSpinnerVisible" (save)="updateCategory()"></ui-form-save>

  </form>
</div>