<form class="form form-compact">

    <md-input-container class="container-full-width">
        <input mdInput
               placeholder="{{ 'app.shop.name' | translation }}"
               [(ngModel)]="name"
               name="shopName" />
    </md-input-container>

    <md-input-container class="container-full-width">
        <input mdInput
               placeholder="{{ 'app.shop.delivery.time' | translation }}"
               [(ngModel)]="deliveryTime"
               name="delivery_tyime" />
        <md-hint><small translation="app.shop.delivery.time_hint"></small></md-hint>
    </md-input-container>

    <div class="has-top-offset">
        <ui-form-price [price]="deliveryPrice" [label]="'app.shop.delivery.price' | translation"></ui-form-price>
    </div>

    <ui-form-price [price]="minimalOrderPrice" [label]="'app.shop.minimal_order_price.label' | translation"></ui-form-price>

    <ui-form-price
      [price]="minimalFreeDeliveryPrice"
      [label]="'app.shop.minimal_free_delivery_price.label' | translation"
      [hint]="'app.shop.minimal_free_delivery_price.hint' | translation"
    ></ui-form-price>

    <ui-form-image (photoUploaded)="photoWasUploaded($event)" [showOnly]="true"></ui-form-image>

    <ui-form-save (save)="createShop()"></ui-form-save>

</form>