@import "../../../../variables";
@import "../../../../mixins";

.footer-container {

  display: flex;
  width: 100%;
  align-items: center;

  md-progress-spinner {
    width: 24px;
    height: 24px;
    margin: 5px 10px 0 0;
  }

  .pull-right {
    margin-left: auto;
  }
}
