<table class="table card">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>discount</th>
    <th>expire_at</th>
    <th>expire_after (days)</th>
    <th class="pull-right"><a [routerLink]="'/promo-codes/create'" translation="app.global.create"></a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let promoCode of promoCodes">
    <td>{{ promoCode.id }}</td>
    <td>{{ promoCode.name }}</td>
    <td>{{ promoCode.discount }}{{ promoCode.discountSuffix | translation }}</td>
    <td>{{ promoCode.expire_at | date }}</td>
    <td>{{ promoCode.expire_after }}</td>
    <td class="pull-right">
      <a href="javascript:" translation="app.global.delete" (click)="deletePromoCode(promoCode)"></a>
    </td>
  </tr>
  <tr *ngIf="hasMoreItem">
    <td colspan="6">
      <div class="footer-container">
        <md-progress-spinner
                *ngIf="isLoading"
                [color]="'primary'"
                [mode]="'indeterminate'"
                [strokeWidth]="'10'">
        </md-progress-spinner>
        <div class="pull-right">
          <button md-button (click)="loadPromoCodes()"><span translation="app.global.load_more">Load more</span></button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>