<h4 class="form-header">{{ 'app.option.select.header' | translation }}</h4>

<md-input-container class="container-full-width">
  <input mdInput
         [placeholder]="'app.option.select.filter' | translation"
         [(ngModel)]="filter"
         name="filter" />
</md-input-container>

<section class="selectable-list">
  <div class="options-list">
    <div *ngFor="let option of options | options:filter" class="selectable-list-item" [class.selected]="option.selected" (click)="select(option)">
      <div class="list-item-header">{{ option.name }}</div>
      <div class="list-item-description" *ngIf="option.description?.length > 0">{{ option.description }}</div>
      <div class="list-item-price">{{ option.price.amount }} {{ 'app.price.currencies.uhr' | translation }} <small *ngIf="option.price.discount > 0">(-{{ option.price.discount}} {{ 'app.price.currencies.uhr' | translation }})</small></div>
    </div>
  </div>
</section>
