@import "../../../../variables";
@import "../../../../mixins";

$selectable-list-max-height: 450px;

.selectable-list {

  margin-bottom: $app-base-padding;

  @include user-select();
  @include box-sizing();

  .options-list {

    margin-left: -$app-base-padding;
    margin-right: -$app-base-padding;

    max-height: $selectable-list-max-height;
    overflow-y: auto;

    box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, .3),
                inset 0  8px 8px -8px rgba(0, 0, 0, .3);

    .selectable-list-item {
      padding: $app-base-padding;
      cursor: pointer;

      @include box-sizing();

      &:hover {
        background-color: rgba(0, 0, 0, .015);
      }

      &.selected {
        position: relative;
        background-color: rgba(0, 0, 0, .03);

        &::after {
          content: "check";
          font-family: "Material Icons", serif;
          position: absolute;
          top:   $app-base-padding;
          right: $app-base-padding;
          font-size: 24px;
          color: $app-color-blue;
          width: auto !important;
        }
      }

      & > * {
        margin-bottom: $app-base-padding / 2;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

}