<h4 class="form-header" *ngIf="isHeaderVisible">Адрес:</h4>

<div class="has-top-offset select-container">
  <md-select placeholder="Город" [(ngModel)]="address.city" name="city" (change)="cityChanged($event)">
    <md-option *ngFor="let city of cities" [value]="city">{{ city.name }}</md-option>
  </md-select>
</div>

<div class="has-top-offset select-container">
  <md-select placeholder="Район" [(ngModel)]="address.district" name="district">
    <md-option *ngFor="let district of districts" [value]="district">{{ district.name }}</md-option>
  </md-select>
</div>

<ui-map-selection (markerLocationChanged)="markerLocationWasChanged($event)"></ui-map-selection>

<div class="grid time-openned-container grid-autosize">
  <app-time class="col no-paddings" [label]="'Открыто с'" (timeChanged)="timeFromWasChanged($event)"></app-time>
  <app-time class="col no-paddings" [label]="'Открыто до'" (timeChanged)="timeUntilWasChanged($event)"></app-time>
</div>

<md-input-container class="container-full-width">
  <input mdInput
         placeholder="Адрес"
         [(ngModel)]="address.address"
         name="address" />
</md-input-container>
