@import "../../../../variables";
@import "../../../../mixins";

.select-container {

  width: 100%;

  margin-top: $app-base-padding * 2;
  margin-bottom: $app-base-padding;

  @include box-sizing();

  md-select {
    width: 100%;
  }

}

.time-openned-container {
  margin-bottom: $app-base-padding;

  & > app-time:first-of-type {
    margin-right: $app-base-padding * 2;
  }
}
