@import "../../../../variables";
@import "../../../../mixins";

.categories-select {

  $categoriesSelectHeight: 350px;

  margin: $app-base-padding;

  margin-left:  -$app-base-padding;
  margin-right: -$app-base-padding;

  max-height: $categoriesSelectHeight;
  overflow-x: visible;
  overflow-y: auto;

  box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, .3),
              inset 0  8px 8px -8px rgba(0, 0, 0, .3);

  @include box-sizing();

  .category-item {
    padding: $app-base-padding;
    cursor: pointer;

    @include box-sizing();

    &:hover {
      background-color: rgba(0, 0, 0, .015);
    }

    &.selected {
      position: relative;
      background-color: rgba(0, 0, 0, .03);

      &::after {
        $icon-size: 24px;

        content: 'check';
        font-family: 'Material Icons', sans-serif;
        top: 50%;
        right: $app-base-padding;
        position: absolute;
        color: $app-color-blue;
        font-size: $icon-size;

        margin-top: -($icon-size / 2);
        margin-right: -($icon-size / 4);
      }
    }
  }

}