<h4 class="has-top-offset">Категории товара</h4>
<div class="categories-select">
  <div class="category-item" *ngFor="let category of categories" [class.selected]="category.selected" (click)="toggleCategory(category)">{{ category.name }}</div>
</div>