<div>
  <div class="upload-image-placeholder" appImageUploadable
       [ngClass]="{'upload-image-placeholder': progress < 1, 'hidden': progress > 0}"
       [shopId]="shopId"
       [productId]="productId"
       [showOnly]="showOnly"
       [field]="field"
       (photoUploaded)="photoWasUpdated($event)"
       (uploadProgress)="progress = $event"
       (photoDropped)="photoWasDropped($event)">
    <p translation="app.image.upload.title"></p>
    <small translation="app.image.upload.description"></small>
  </div>
  <div [ngClass]="{'hidden': progress < 1}">
    <ui-progress-bar [label]="uploadingProgressBarLabel" [percents]="progress" [indeterminate]="indeterminate"></ui-progress-bar>
    <div *ngIf="!indeterminate && progress == 100" class="upload-other-image">
      <button md-button (click)="progress = 0; photoWasUploaded = false">{{ 'app.image.upload.upload_other' | translation }}</button>
    </div>
  </div>
</div>