@import "../../../../../variables";
@import "../../../../../mixins";

.upload-image-placeholder {
  padding: $app-base-padding + 1 $app-base-padding;

  border: 3px dashed rgba(0, 0, 0, .1);
  text-align: center;
  color: rgba(0, 0, 0, .7);

  @include box-sizing();
  @include user-select();

  &.active {
    background-color: rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .9);
  }

  & > * {
    pointer-events: none;
  }

  small {
    font-size: 12px;
    margin-top: $app-base-padding / 2;
    display: block;
  }
}

.upload-other-image {
  font-size: 14px;
  margin-top: $app-base-padding / 2;

  @include box-sizing();
}
