<form class="form form-compact">
    <h3 class="form-header">Информация о продукте</h3>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.product.name' | translation"
               [(ngModel)]="product.productName"
               name="productName" />
    </md-input-container>

    <ui-form-price
            [label]="'app.product.price.label' | translation"
            [price]="product.price"
            *ngIf="product.sizes.length < 1">
    </ui-form-price>

    <div class="alert alert-small-shadow alert-info alert-bold"
         *ngIf="product.sizes.length > 0">
        Цена недоступна при наличии размеров
    </div>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.product.measure.label' | translation"
               [(ngModel)]="product.measure"
               name="measure" />
        <md-hint align="start"><strong translation="app.product.measure.hint"></strong></md-hint>
    </md-input-container>

    <md-input-container class="container-full-width has-top-offset">
        <input mdInput
               placeholder="Состоит из"
               [(ngModel)]="product.consistOf"
               name="consistOf" />
    </md-input-container>

    <ui-form-label [label]="product.label" [shop-id]="this.product.shop.id"></ui-form-label>

    <ui-form-categories [categories]="categories"></ui-form-categories>

    <ui-form-image
            [photo]="product.photo"
            [shopId]="product.shop.id"
            [productId]="product.id"
            (photoUploaded)="product.photo = $event">
    </ui-form-image>

    <ui-form-label [label]="product.label" *ngIf="false"></ui-form-label>

    <button md-button (click)="saveProduct()">Save</button>
</form>