@import "../../../../../../variables";

.is_percents_container {
  margin-top: $app-base-padding;
}

.date-container {
  margin-bottom: $app-base-padding;
}

.select-container {
  width: 100%;
  margin-top: $app-base-padding * 1.75;

  &:first-of-type {
    margin-top: $app-base-padding;
  }

  md-select {
    width: 100%;
  }
}