<ui-header-bar [text]="product?.productName"></ui-header-bar>
<div class="show-size-content">
    <form class="form form-compact">
        <h3 class="form-header" translation="app.size.editing"></h3>

        <md-input-container class="container-full-width">
            <input mdInput
                   [placeholder]="'app.size.title' | translation"
                   [(ngModel)]="size.title"
                   name="name" />
        </md-input-container>

        <ui-form-options [options]="options" (selectionChanged)="updateOptionsPrice($event)"></ui-form-options>

        <ui-form-price [price]="size.price" [label]="'app.size.price.base' | translation"></ui-form-price>

        <h4 class="form-header" translation="app.size.price.total"></h4>

        <h5 class="form-header">{{ totalPrice || 0 }} {{ 'app.price.currencies.uhr' | translation }}</h5>

        <button md-button (click)="saveSize()">Save</button>
    </form>
</div>