<ui-header-bar [text]="shop.shopName"></ui-header-bar>
<div class="paddings">
  <div class="grid order-grid">
    <div class="col order-content-wrapper">
      <div class="order-content">
        <div class="contact-information">
          <h4 translation="app.order.about_customer">Информация о покупателе</h4>
          <table class="table table-small section">
            <tbody>
            <tr>
              <td class="small-table-label" translation="app.user.first_name">Имя</td>
              <td>{{ order.user.firstName }}</td>
            </tr>
            <tr>
              <td class="small-table-label" translation="app.user.last_name">Фамилия</td>
              <td>{{ order.user.lastName }}</td>
            </tr>
            <tr>
              <td class="small-table-label" translation="app.user.phone_number">Номер телефона</td>
              <td><a href="tel:{{ order.user.phone }}">{{ order.user.phone }}</a></td>
            </tr>
            </tbody>
          </table>
          <h4 translation="app.order.delivery_address">Адрес доставки</h4>
          <div class="section">
            {{ order.address.toString() }}
          </div>
          <h4 translation="app.order.payment_method.header">Оплата</h4>
          <div class="section" translation="app.order.payment_method.{{ order.paymentType }}">{{ order.paymentType }}</div>
          <h4 translation="app.order.products">Товары</h4>
          <div class="section full-width section-no-top-margin">
            <ui-widget-product *ngFor="let product of order.products" [product]="product"></ui-widget-product>
          </div>
        </div>
      </div>
    </div>
    <div class="col order-sidebar">
      <div class="map-image">
        <img src="{{ mapsPath }}" />
      </div>
      <div class="statuses">
        <table class="table">
          <thead>
          <tr>
            <th class="normal-padding" width="125" translation="app.order.status.header">Статус</th>
            <th class="normal-padding" translation="app.order.status.date">Дата</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="normal-padding" translation="app.order.status.registered">Зарегистрировано</td>
            <td class="normal-padding">
              <span *ngIf="statusExist('registered')">Выполнено</span>
              <span *ngIf="!statusExist('registered')" translation="app.order.status.in_progress">Не выполнено</span>
            </td>
          </tr>
          <tr>
            <td class="normal-padding" translation="app.order.status.processing">Обрабатывается</td>
            <td class="normal-padding">
              <span *ngIf="statusExist('processing')">Выполнено</span>
              <span *ngIf="!statusExist('processing') && !statusExist('registered')" translation="app.order.status.in_progress">Не выполнено</span>
              <a href="javascript:" *ngIf="!statusExist('processing') && statusExist('registered')" (click)="updateStatus('processing')" translation="app.order.status.mark_as_completed">Отметить выполненым</a>
            </td>
          </tr>
          <tr>
            <td class="normal-padding" translation="app.order.status.sent">Отправлено</td>
            <td class="normal-padding">
              <span *ngIf="statusExist('sent')">Выполнено</span>
              <span *ngIf="!statusExist('sent') && !statusExist('processing')" translation="app.order.status.in_progress">Не выполнено</span>
              <a href="javascript:" *ngIf="!statusExist('sent') && statusExist('processing')" (click)="updateStatus('sent')" translation="app.order.status.mark_as_completed">Отметить выполненым</a>
            </td>
          </tr>
          <tr>
            <td class="normal-padding" translation="app.order.status.received">Получено</td>
            <td class="normal-padding">
              <span *ngIf="statusExist('received')">Выполнено</span>
              <span *ngIf="!statusExist('received') && !statusExist('sent')" translation="app.order.status.in_progress">Не выполнено</span>
              <a href="javascript:" *ngIf="!statusExist('received') && statusExist('sent')" (click)="updateStatus('received')" translation="app.order.status.mark_as_completed">Отметить выполненым</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
