@import "../../../../variables";
@import "../../../../mixins";

$order-sidebar-width: 300px;

.order-grid {
  max-width: 750px;

  .order-content-wrapper {
    padding: 0;

    .order-content {
      background-color: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .17);
      border-radius: 3px;

      padding: $app-base-padding;

      @include box-sizing();

      .section {
        margin-top: $app-base-padding;
        margin-bottom: $app-base-padding;

        &.full-width {
          margin-left:  -$app-base-padding;
          margin-right: -$app-base-padding;
        }

        &.section-no-top-margin {
          margin-top: 0;
        }
      }

      .table {

        tbody tr:first-child {
          td {
            border-top: 0;
          }
        }
      }

      .products-list {
        // empty
      }

    }
  }

  .order-sidebar {
    width: $order-sidebar-width;
    margin-left: $app-base-padding;

    flex-shrink: 0;
    flex-grow: 0;

    padding: 0;

    .map-image {
      img {
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
      }
    }

    .statuses {
      table.table {
        background-color: transparent;
      }
    }
  }

}
