<h4 class="has-top-offset" translation="app.user.shops.header">Категории товара</h4>
<div class="shops-select">
  <div class="shops-select-item" *ngFor="let shop of shops" [class.selected]="shop.selected" (click)="select(shop)">{{ shop.shopName }}</div>
</div>