<table class="table card">
  <thead>
  <tr>
    <th width="75" translation="app.category.id"></th>
    <th translation="app.category.name"></th>
    <th class="pull-right" width="175">
      <a [routerLink]="['/shops', shopId, 'categories', 'create']" translation="app.global.create"></a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of sharedCategories">
    <td>&nbsp;</td>
    <td><a [routerLink]="[category.id]">{{ category.name }}</a></td>
    <td class="pull-right">
      <a href="javascript:" (click)="unuseCategory(category)" *ngIf="category.using">{{ 'app.category.unuse' | translation }}</a>
      <a href="javascript:" (click)="useCategory(category)" *ngIf="!category.using">{{ 'app.category.use' | translation }}</a>
    </td>
  </tr>
  <tr *ngFor="let category of categories">
    <td>{{ category.id }}</td>
    <td><a [routerLink]="[category.id]">{{ category.name }}</a></td>
    <td class="pull-right"><a href="javascript:" (click)="deleteCategory(category)" *ngIf="category.shopId !== null" translation="app.global.delete"></a></td>
  </tr>
  </tbody>
  <tfoot *ngIf="hasMore">
  <tr>
    <td colspan="3">
      <md-progress-spinner
              *ngIf="isLoading"
              [color]="'primary'"
              [mode]="'indeterminate'"
              [strokeWidth]="'10'">
      </md-progress-spinner>
      <div class="pull-right">
        <button md-button (click)="loadCategories()">{{ 'app.global.load_more' | translation }}</button>
      </div>
    </td>
  </tr>
  </tfoot>
</table>