@import "../variables";
@import "../mixins";

.wrapper {
  .content-wrapper {
    &[data-has-tabs] {
      padding: 0;
    }
  }
}

.loader-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9999;

  display: none;

  &.visible {
    display: block;
  }

  .popup-alert {
    width: 250px;
    margin: 0 auto;
    background-color: white;

    padding: $app-base-padding;
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .17);
    position: relative;
    top: 50%;

    transform: translateY(-50%);

    @include box-sizing();

    .popup-alert-header {
      margin-bottom: $app-base-padding;
    }

    .popup-alert-content {

      .popup-alert-content-grid {
        display: flex;
        align-items: center;
      }

      .popup-alert-spinner {
        height: 50px;
        width:  50px;

        flex-shrink: 0;
        flex-grow: 0;
      }

      .popup-alert-content-grid-description {
        width: 100%;
        margin-left: $app-base-padding * 2;
      }
    }
  }
}
