<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-wrapper" [attr.data-has-tabs]="isHaveTabs ? 'data-has-tabs' : null">
        <router-outlet></router-outlet>
        <router-outlet name="test"></router-outlet>
    </div>
</div>
<div class="loader-placeholder" [class.visible]="httpLoading">
    <div class="popup-alert">
        <!--<div class="popup-alert-header h4">Loading</div>-->
        <div class="popup-alert-content">
            <div class="popup-alert-content-grid">
                <md-spinner class="popup-alert-spinner"></md-spinner>
                <div class="popup-alert-content-grid-description h3">
                    Загрузка
                </div>
            </div>
        </div>
    </div>
</div>