@import "../../mixins";

$sidebar-width: 270px;
$sidebar-active-color: #039be5;

.sidebar {
  width: $sidebar-width;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  height: 100%;
  max-height: 100%;
  padding-top: 15px;
  overflow-y: hidden;

  @include box-sizing();

  &:hover {
    overflow-y: auto;
  }

  nav {

    a {
      display: block;
      outline: none;
      color: rgba(0, 0, 0, .54);
      font-weight: bold;
      text-decoration: none;
      padding: 15px 15px 15px 60px;
      line-height: 20px;

      @include box-sizing();
      @include user-select();

      &.active {
        color: $sidebar-active-color;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }

      &[data-icon], &[data-badge] {
        position: relative;
      }

      &[data-icon] {
        &::before {
          content: attr(data-icon);
          font-size: 24px;
          position: absolute;
          top:  13px;
          left: 20px;
          font-family: 'Material Icons', sans-serif;
          line-height: 20px;
        }
      }

      &[data-badge] {
        &::after {
          content: attr(data-badge);
          display: block;

          position: absolute;
          right: 15px;
          top: 16px;
          font-size: 12px;
          line-height: 12px;

          border-radius: 20px;
          background-color: $sidebar-active-color;

          padding: 4px 8px 3px;
          color: white;

          @include box-sizing();
        }
      }
    }
  }
}