<div class="sidebar" *ngIf="isVisible">
  <nav>

    <app-sidebar-item *ngFor="let shop of shops"
                      [text]="shop.label"
                      [badge]="shop.badge"
                      [miIcon]="shop.icon"
                      [isActive]="shop.isActive || false"
                      [href]="shop.href"
                      [type]="shop.type || 'item'"
                      (click)="markAsSelected(shop)"
    ></app-sidebar-item>

    <app-sidebar-item [type]="'separator'"></app-sidebar-item>

    <app-sidebar-item *ngFor="let item of sidebar"
                      [text]="item.label"
                      [badge]="item.badge"
                      [miIcon]="item.icon"
                      [isActive]="item.isActive || false"
                      [href]="item.href"
                      [type]="item.type || 'item'"
    ></app-sidebar-item>
  </nav>
</div>