<table class="table card">
    <thead>
    <tr>
        <th width="150">name</th>
        <th>text</th>
        <th width="150" class="pull-right"><a href="javascript:" routerLink="create" translation="app.global.create"></a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let label of labels">
        <td>{{ label.name }}</td>
        <td>{{ label.text }}</td>
        <td class="pull-right"><a href="javascript:" translation="app.global.delete" (click)="deleteLabel(label)"></a></td>
    </tr>
    <tr *ngIf="labels.length < 1">
        <td colspan="3" class="table-td-error" translation="app.labels.empty"></td>
    </tr>
    </tbody>
</table>