<form class="form form-compact">

    <h3 class="form-header" translation="app.label.create.header"></h3>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.label.name' | translation"
               [(ngModel)]="label.name"
               name="name" />
    </md-input-container>

    <md-input-container class="container-full-width">
        <input mdInput
               [placeholder]="'app.label.text' | translation"
               [(ngModel)]="label.text"
               name="text" />
    </md-input-container>

    <ui-form-save [spinnerVisible]="isSpinnerVisible" (save)="save()"></ui-form-save>
</form>