<table class="table card">
    <thead>
    <tr>
        <th width="150" translation="app.promo_code.name">name</th>
        <th width="125" translation="app.promo_code.discount.label"></th>
        <th translation="app.promo_code.expire_at.label">expire_at</th>
        <th width="200" translation="app.promo_code.expire_after.label">expire_after</th>
        <th class="pull-right" width="100"><a routerLink="create" translation="app.global.create"></a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let promoCode of promoCodes">
        <td>{{ promoCode.name }}</td>
        <td>{{ promoCode.discount }}{{ promoCode.discountSuffix | translation }}</td>
        <td>{{ promoCode.expire_at | date }}</td>
        <td>{{ promoCode.expire_after }}</td>
        <td class="pull-right"><a href="javascript:" translation="app.global.delete" (click)="delete(promoCode)"></a></td>
    </tr>
    <tr *ngIf="hasMorePromoCodes">
        <td colspan="5">
            <md-progress-spinner
                    *ngIf="isLoading"
                    [color]="'primary'"
                    [mode]="'indeterminate'"
                    [strokeWidth]="'10'">
            </md-progress-spinner>
            <div class="pull-right">
                <button md-button (click)="loadPromoCodes()">{{ 'app.global.load_more' | translation }}</button>
            </div>
        </td>
    </tr>
    <tr *ngIf="promoCodes.length < 1">
        <td colspan="5" translation="app.promo_code.empty" class="table-td-error"></td>
    </tr>
    </tbody>
</table>