<form action="" class="form form-compact">

  <h3 *ngIf="isEditing" class="form-header" translation="app.category.editing"></h3>
  <h3 *ngIf="!isEditing" class="form-header" translation="app.category.creating"></h3>

  <md-input-container class="container-full-width">
    <input mdInput
           placeholder="Название категории"
           [(ngModel)]="category.name"
           name="name" />
  </md-input-container>

  <ui-form-save [spinnerVisible]="categorySaveSpinnerVisible" (save)="updateCategory()"></ui-form-save>

</form>