<ui-header-bar [text]="shop?.shopName"></ui-header-bar>
<div class="paddings">
    <form class="form form-compact">

        <md-input-container class="container-full-width">
            <input mdInput
                   placeholder="Название категории"
                   [(ngModel)]="name"
                   name="name" />
        </md-input-container>

        <ui-form-save [spinnerVisible]="categorySaveSpinner" (save)="createCategory()"></ui-form-save>

    </form>
</div>
