<ui-header-bar [text]="'users'"></ui-header-bar>
<div class="content">
  <form class="form form-compact">
    <md-input-container class="container-full-width">
      <input mdInput
             placeholder="{{ 'app.user.first_name' | translation }}"
             [(ngModel)]="user.firstName"
             name="firstName" />
    </md-input-container>

    <md-input-container class="container-full-width">
      <input mdInput
             placeholder="{{ 'app.user.last_name' | translation }}"
             [(ngModel)]="user.lastName"
             name="lastName" />
    </md-input-container>

    <md-input-container class="container-full-width">
      <input mdInput
             placeholder="{{ 'app.user.phone_number' | translation }}"
             [(ngModel)]="user.phone"
             name="phone" />
    </md-input-container>

    <ui-form-shops [currentShops]="user.shops" (selected)="shopsSelected($event)"></ui-form-shops>

    <md-input-container class="container-full-width">
      <input mdInput
             placeholder="{{ 'app.user.password' | translation }}"
             [(ngModel)]="user.password"
             name="password" />
    </md-input-container>

    <h4 translation="app.user.avatar"></h4>

    <ui-form-image
      [photo]="user.avatar"
      [showOnly]="true"
      (photoUploaded)="avatarDropped($event)">
    </ui-form-image>

    <ui-form-save [spinnerVisible]="spinnerVisible" (save)="save()"></ui-form-save>
  </form>
</div>