<form class="form form-compact">

    <md-input-container class="container-full-width">
        <input mdInput
               placeholder="{{ 'app.shop.name' | translation }}"
               [(ngModel)]="shop.shopName"
               name="shopName" />
    </md-input-container>

    <md-input-container class="container-full-width">
        <input mdInput
               placeholder="{{ 'app.shop.delivery.time' | translation }}"
               [(ngModel)]="shop.deliveryTime"
               name="delivery_tyime" />
        <md-hint><small translation="app.shop.delivery.time_hint"></small></md-hint>
    </md-input-container>

    <div class="has-top-offset">
        <ui-form-price [price]="shop.deliveryPrice" [label]="'app.shop.delivery.price' | translation" [hint]="'app.shop.delivery.price_hint' | translation"></ui-form-price>
    </div>

    <ui-form-price [price]="shop.minimalOrderPrice" [label]="'app.shop.minimal_order_price.label' | translation"></ui-form-price>

    <ui-form-price
      [price]="shop.minimalFreeDeliveryPrice"
      [label]="'app.shop.minimal_free_delivery_price.label' | translation"
      [hint]="'app.shop.minimal_free_delivery_price.hint' | translation"
    ></ui-form-price>

    <ui-form-label [label]="shop.label" [shop-id]="shop.id"></ui-form-label>

    <h4>{{ 'app.shop.shop_image' | translation }}</h4>

    <ui-form-image
        [photo]="shop.shopImage"
        [shopId]="shop.id" >
    </ui-form-image>

    <h4>{{ 'app.shop.shop_background' | translation }}</h4>

    <ui-form-image
        [photo]="shop.shopPoster"
        [shopId]="shop.id"
        [field]="'poster'"
        (photoUploaded)="shopPosterUploaded($event)">
    </ui-form-image>

    <ui-form-save (save)="save()"></ui-form-save>

</form>