<table class="table card">
    <thead>
    <tr>
        <th width="75" translation="app.review.id"></th>
        <th translation="app.review.review"></th>
        <th width="110" translation="app.review.date"></th>
        <th style="text-align: right;" width="125" translation="app.review.likes"></th>
        <th style="text-align: right;" width="175" translation="app.review.comments"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let review of reviews">
        <td>{{ review.id }}</td>
        <td>{{ review.comment }}</td>
        <td>{{ review.createdAt }}</td>
        <td align="right">{{ review.likes }}</td>
        <td align="right">{{ review.commentsCount }}</td>
    </tr>
    <tr *ngIf="reviews.length < 1">
        <td colspan="5" class="table-td-error" translation="app.review.empty"></td>
    </tr>
    </tbody>
    <tfoot *ngIf="hasProducts">
    <tr>
        <td colspan="5">
            <md-progress-spinner
                    *ngIf="isLoading"
                    [color]="'primary'"
                    [mode]="'indeterminate'"
                    [strokeWidth]="'10'">
            </md-progress-spinner>
            <div class="pull-right">
                <button md-button (click)="loadReviews()" translation="app.global.load_more"></button>
            </div>
        </td>
    </tr>
    </tfoot>
</table>