<ui-header-bar [text]="'ShopName'"></ui-header-bar>

<div class="options-table-wrapper">
    <table class="table card">
        <thead>
        <tr>
            <th width="75">id</th>
            <th>name</th>
            <th width="150" style="text-align: right;"><a [routerLink]="'create'">create</a></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let option of options">
            <td>{{ option.id }}</td>
            <td colspan="2"><a [routerLink]="[option.id, 'edit']">{{ option.name }}</a></td>
        </tr>
        </tbody>
        <tfoot *ngIf="!isLoadedAllRecords">
        <tr>
            <td colspan="5">
                <md-progress-spinner
                        *ngIf="isLoading"
                        [color]="'primary'"
                        [mode]="'indeterminate'"
                        [strokeWidth]="'10'">
                </md-progress-spinner>
                <div class="pull-right">
                    <button md-button (click)="loadOptions()">Load more</button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>