<div class="save-layout">
  <div class="save-button-container">
    <button md-button (click)="saveClicked()">{{ 'app.global.save' | translation }}</button>
  </div>
  <div class="save-progress-bar">
    <md-spinner class="spinner" *ngIf="spinnerVisible"></md-spinner>
  </div>
</div>