@import "../../../../variables";

.save-layout {
  display: flex;
  align-items: center;
  margin-top: $app-base-padding;

  .save-button-container {
    width: 100%;
  }

  .save-progress-bar {
    width: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: $app-base-padding;

    .spinner {
      width: 30px;
      height: 30px;
    }
  }
}