<h4 class="form-header">{{ label }}</h4>

<div class="grid input-grid grid-autosize">
  <md-input-container class="container-full-width col no-paddings">
    <input mdInput
           type="number"
           min="0"
           max="23"
           placeholder="чч"
           [(ngModel)]="hours"
           name="hours"
           (change)="timeWasChanged()" />
  </md-input-container>
  <md-input-container class="container-full-width col no-paddings">
    <input mdInput
           type="number"
           min="0"
           max="59"
           placeholder="мм"
           [(ngModel)]="minutes"
           name="minutes"
           (change)="timeWasChanged()" />
  </md-input-container>
</div>