<table class="table card">
  <thead>
  <tr>
    <th width="75" translation="app.address.id"></th>
    <th translation="app.address.address"></th>
    <th class="pull-right" width="125"><a [routerLink]="['create']" translation="app.global.create"></a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let address of addresses">
    <td>{{ address.id }}</td>
    <td>{{ address.toString() }}</td>
    <td class="pull-right"><a href="javascript:" (click)="delete(address)" translation="app.global.delete"></a></td>
  </tr>
  </tbody>
</table>