@import "../../../../variables";
@import "../../../../mixins";

.user-widget-wrapper {
  display: flex;
  width: 100%;
  align-items: center;

  @include box-sizing();

  .avatar {
    margin-right: $app-base-padding / 2;

    img {
      width: 28px;
      border-radius: 15px;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
  }

}
