<div class="user-widget-wrapper">
  <div class="avatar" *ngIf="hasAvatar()">
    <img src="{{ basePath + user.avatar.small }}" />
  </div>
  <div class="information">
    <div class="user-fullname">{{ user.firstName }} {{ user.lastName }}</div>
    <div class="user-phone"><a href="tel:{{ user.phone }}">{{ user.phone }}</a></div>
  </div>
</div>