@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-red, 600, 100, 800);
$warn:    mat-palette($mat-deep-orange, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

@import "variables";
@import "mixins";

@import "scss/reset";
@import "scss/global";
@import "scss/wrapper";
@import "scss/grid";

@import "scss/alert";
@import "scss/table";
@import "scss/typography";

@import "scss/form.scss";
