<div class="options-table-wrapper">
  <table class="table card">
    <thead>
    <tr>
      <th width="75" translation="app.option.id">id</th>
      <th translation="app.option.name"></th>
      <th width="150" style="text-align: right;"><a [routerLink]="'create'" translation="app.global.create">create</a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let option of options">
      <td>{{ option.id }}</td>
      <td><a [routerLink]="[option.id, 'edit']">{{ option.name }}</a></td>
      <td style="text-align: right"><a href="javascript:" (click)="deleteOption(option)" translation="app.global.delete"></a></td>
    </tr>
    <tr *ngIf="options.length < 1">
      <td class="table-td-error" colspan="3" translation="app.option.empty"></td>
    </tr>
    </tbody>
    <tfoot *ngIf="!isLoadedAllRecords">
    <tr>
      <td colspan="5">
        <md-progress-spinner
                *ngIf="isLoading"
                [color]="'primary'"
                [mode]="'indeterminate'"
                [strokeWidth]="'10'">
        </md-progress-spinner>
        <div class="pull-right">
          <button md-button (click)="loadOptions()">{{ 'app.global.load_more' | translation }}</button>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>