@import "../variables";
@import "../mixins";

.alert {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);

  padding: 15px;
  margin-bottom: 16px;

  @include box-sizing();

  &.alert-danger {
    background-color: #e53935;
    color: white;
  }

  &.alert-info {
    color: white;
    background-color: #f39c12;
  }

  &.alert-bold {
    font-weight: bold;
  }

  &.alert-small-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .03);
  }
  
}
