@import "../variables";
@import "../mixins";

.form {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  border-radius: 3px;

  background-color: white;
  padding: $app-base-padding;

  @include box-sizing();

  &.form-compact {
    max-width: $app-form-compact-width;
    min-width: $app-form-compact-width;
    width:     $app-form-compact-width;
  }

  .container-full-width {
    width: 100%;
  }

  .form-header {
    margin-bottom: $app-base-padding;
  }
}
