body {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.clear {
  clear: both;
  overflow: hidden;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.hidden {
  display: none !important;
}

a {
  color: $app-color-blue;

  &:hover {
    color: darken($app-color-blue, 10%);
  }
}

.paddings {
  padding: $app-base-padding;

  @include box-sizing();
}

.has-top-offset {
  margin-top: $app-base-padding;
}

.has-bottom-offset {
  margin-bottom: $app-base-padding;
}
