@import "../variables";
@import "../mixins";

.grid {
  display: flex;
  width: 100%;

  &.grid-autosize {
    & > .col {
      width: auto;
    }
  }

  & > .col {
    padding: $app-base-padding;
    width: 100%;

    @include box-sizing();

    &.no-paddings {
      padding: 0;
    }

    &.pull-right {
      margin-left: auto;
    }
  }
}
