@import "../variables";
@import "../mixins";

$table-cell-padding: 15px;

.table {
  width: 100%;
  background-color: white;

  &.table-small {
    thead tr th, tbody tr td, tfoot tr td {
      padding-left: 0;
      padding-right: 0;

      padding-top: $app-base-padding / 2;
      padding-bottom: $app-base-padding / 2;

      &:not(.normal-padding) {
        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }
      }

      &.small-table-label {
        width: 125px;
      }
    }
  }

  &.table-with-hover {
    tbody tr:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  &.table-tbody-as-group {
    tbody {
      tr:first-of-type {
        td {
          border-top: 0;
          font-weight: 500;
        }
      }
    }
  }

  &.card {
    border-radius: 3px;
    overflow: hidden;
  }

  thead tr th, tbody tr td, tfoot tr td {
    padding: $table-cell-padding;
    font-size: 12px;
    line-height: 16px;
    vertical-align: top;

    @include box-sizing();

    &:not(.normal-padding) {
      &:first-of-type {
        padding-left: $table-cell-padding * 1.5;
      }

      &:last-of-type {
        padding-right: $table-cell-padding * 1.5;
      }
    }

    &.pull-right {
      text-align: right;
    }

    &.no-paddings {
      padding: 0;
    }

    &.paddings-half {
      padding: $app-base-padding / 2;
    }

    &.table-td-error {
      color: $app-color-red;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  thead tr th {
    text-align: left;
    color: rgba(0, 0, 0, .6);
    text-transform: uppercase;
  }

  tbody tr td {
    border-top: 1px solid rgba(0, 0, 0, .05);

    @for $i from 1 through 4 {
      &.indent-#{$i} {
        // 16 + ((16 / 4) * 1)
        padding-left: $app-base-padding + (($app-base-padding / 2) * $i);
      }
    }
  }

  tfoot {
    tr td {
      .pull-right {
        float: right;
      }

      md-progress-spinner {
        float:left;
        width: 24px;
        height: 24px;
        margin: 5px 10px 0px 0px;
      }
    }
  }

}
