@import "../variables";
@import "../mixins";

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, .7);
  display: block;

  .small {
    font-size: 75%;
    margin-top: $app-base-padding * 0.25;
  }
}

h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 12px; }
