@import "../variables";
@import "../mixins";

$header-height: 48px;

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh);
  margin-top: -$header-height;
  position: relative;
  z-index: 99;
  padding-top: $header-height;

  @include box-sizing();

  .sidebar {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 98;
  }

  .content-wrapper {
    width: 100%;
    overflow-y: scroll;
    padding: $app-base-padding;
    position: relative;
    z-index: 97;

    background-color: rgba(0, 0, 0, 0.025);

    @include box-sizing();
  }
}
