<table class="table table-tbody-as-group">
  <thead>
  <tr>
    <th class="normal-padding">{{ product.productName }}</th>
    <th class="normal-padding pull-right" width="100"><span *ngIf="product.sizes.length < 1">{{ product.price }}</span></th>
  </tr>
  </thead>
  <tbody *ngFor="let size of product.sizes">
  <tr>
    <td class="normal-padding indent-1">{{ size.title }}</td>
    <td class="normal-padding pull-right">{{ size.price }}</td>
  </tr>
  <tr *ngFor="let option of size.options">
    <td class="normal-padding indent-2">{{ option.name }}</td>
    <td class="normal-padding pull-right">{{ option.price }}</td>
  </tr>
  </tbody>
</table>