@import "../../../../variables";
@import "../../../../mixins";

.product {
  .product-name, .size-name, .option-name, .product-footer {
    margin-top: $app-base-padding;
  }

  .size-base-price, .option-price {
    color: rgba(0, 0, 0, .7);
    margin-left: $app-base-padding;
  }

  .product-sizes {
    padding-left: $app-base-padding / 2;

    @include box-sizing();

    .size-price {
      margin-top: $app-base-padding / 2;
      color: rgba(0, 0, 0, .9);
    }

    .size-options {
      padding-left: $app-base-padding / 2;

      @include box-sizing();
    }
  }
}
