<ui-header-bar [text]="shop?.shopName"></ui-header-bar>

<div class="paddings">
  <form action="#" class="form form-compact">
    <h3 class="form-header">Информация об опции</h3>

    <md-input-container class="container-full-width">
      <input mdInput
             [placeholder]="'app.option.name' | translation"
             [(ngModel)]="option.name"
             name="name" />
    </md-input-container>

    <md-input-container class="container-full-width">
      <input mdInput
             [placeholder]="'app.option.description' | translation"
             [(ngModel)]="option.description"
             name="description" />
    </md-input-container>

    <ui-form-price [price]="option.price" [label]="'app.option.price' | translation"></ui-form-price>

    <button md-button (click)="saveOption()">{{ 'app.global.save' | translation }}</button>
  </form>
</div>