<a routerLink="{{ schema?.link }}"
   class="tab-item"
   [attr.data-badge]="schema?.badge > 0 ? schema?.badge : null"
   [ngClass]="{'first': index === 0, 'active': schema?.active}"
   (click)="setActiveTab(schema)"
>{{ schema?.text }}<span class="badge-size" *ngIf="schema?.badge > 0">{{ schema?.badge }}</span></a>