@import "../../../../variables";
@import "../../../../mixins";

$item-horizontal-padding: 0;

.tab-item {
  padding: $app-base-padding + 5px $item-horizontal-padding;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, .7);

  margin-left:  10px;
  margin-right: 10px;
  outline: none;

  @include box-sizing();

  &.first {
    margin-left: 0;
  }

  &.active {
    color: $app-color-blue;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $app-color-blue;
    }

    &[data-badge] {
      &::after {
        background-color: $app-color-blue;
        color: white;
      }
    }
  }

  &[data-badge] {
    display: flex;
    align-items: center;
    position: relative;
    // 41px - badge max width
    padding-right: $item-horizontal-padding;

    &::after {
      content: attr(data-badge);
      position: absolute;
      display: inline-block;
      font-size: 12px;
      background-color: rgba(0, 0, 0, .5);
      padding: 5px 10px;
      top: 50%;
      right:  $item-horizontal-padding;
      color: white;
      border-radius: 15px;
      max-width: 41px;
      overflow: hidden;

      transform: translateY(-50%);

      @include box-sizing();
    }

    & > .badge-size {
      display: inline-block;
      font-size: 12px;
      padding: 5px 10px;
      height: 1px;
      overflow-y: hidden;
      background-color: transparent;
      color: transparent;
      margin-left:  10px;
      margin-right: 0;

      @include user-select();
    }

  }
}