@import "../../../variables";
@import "../../../mixins";

@keyframes progress-bar-stripes {
  0% { background-position-x: 0;  }
  100% { background-position-x: 100%; }
}

.progress-bar-container {
  .label {
    font-size: 14px;
    color: rgba(0, 0, 0, .9);
    margin-bottom: $app-base-padding / 2;
  }

  .progress-bar {
    width: 100%;
    height: 6px;
    //background-color: lighten($app-color-blue, 30%);
    //box-shadow: 0 2px 6px rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .05);
    border-radius: 25px;
    position: relative;

    @include box-sizing();
    @include user-select();

    &[data-percents] {
      .progress-bar-value {
        display: block;
      }
    }

    .progress-bar-value {
      position: absolute;
      top:  0;
      left: 0;
      display: none;
      height: 6px;
      width: 50%;
      border-radius: 25px;
      background-color: $app-color-blue;

      &.indeterminate {
        &::before {
          content: "";
          display: block;
          background: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
          width: 100%;
          height: 100%;
          background-size: 1rem 1rem;
          animation: progress-bar-stripes 5s linear infinite;
        }
      }
    }
  }
}
