<div class="progress-bar-container">
  <div class="label">{{ label | translation }}</div>
  <div class="progress-bar" [attr.data-percents]="percents">
    <div class="progress-bar-value" [style.width]="percents + '%'" [class.indeterminate]="indeterminate"></div>
  </div>
</div>
