<table class="table card">
  <thead>
  <tr>
    <th width="75" translation="app.advertising.id"></th>
    <th width="350" translation="app.advertising.name"></th>
    <th width="120" translation="app.advertising.status"></th>
    <th translation="app.advertising.image.label"></th>
    <th width="120" class="pull-right"><a [routerLink]="'create'" translation="app.global.create"></a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="advertisings.length < 1">
    <td colspan="5" class="table-td-error">Нет созданных объявлений</td>
  </tr>
  <tr *ngFor="let ads of advertisings">
    <td>{{ ads.id }}</td>
    <td><a [routerLink]="[ ads.id ]">{{ ads.name }}</a></td>
    <td>{{ ads.isActive ? 'Активно' : 'Не активно' }}</td>
    <td><a [href]="ads.getImageUrl()" target="_blank" translation="app.advertising.image.show">show</a></td>
    <td class="pull-right"><a href="javascript:" (click)="delete(ads)" translation="app.global.delete"></a></td>
  </tr>
  </tbody>
  <tfoot *ngIf="hasMoreAdvertisings">
  <tr>
    <td colspan="5">
      <md-progress-spinner
            *ngIf="isLoading"
            [color]="'primary'"
            [mode]="'indeterminate'"
            [strokeWidth]="'10'">
      </md-progress-spinner>
      <div class="pull-right">
        <button md-button (click)="loadAdvertisings()" translation="app.global.load_more"></button>
      </div>
    </td>
  </tr>
  </tfoot>
</table>