@import "../../../variables";
@import "../../../mixins";

$header-font-size: 24px;

.header-bar {

  box-shadow: 0 3px 6px rgba(0, 0, 0, .17);
  background-color: white;

  padding-left: $app-base-padding;
  width: 100%;

  @include box-sizing();

  .link-wrapper {

    display: inline-flex;
    transition: 0.1s background-color;

    &:hover {
      background-color: rgba(0, 0, 0, .03);

      .navigate-back, .header-content {
        color: $app-color-blue;
      }
    }

    .navigate-back, .header-content {
      padding: $app-base-padding;
      font-size: $header-font-size;
      color: rgba(0, 0, 0, .7);
      cursor: pointer;

      @include box-sizing();
      @include user-select();
    }

    .navigate-back {
      font-family: 'Material Icons', sans-serif;
      padding-right: 0;
    }
  }

}