<div class="header-bar">
  <div class="link-wrapper" (click)="navigateBack()">
    <div class="navigate-back">arrow_back</div>
    <div class="header-content">{{ text | uppercase }}</div>
  </div>
</div>